<div class="container">
  <form [formGroup]="paymentConfigCreateForm" *ngIf="paymentConfigCreateForm">
    <div class="mb-3">
      <label for="procurementNatureId">Select Procurement Nature</label>
      <select
        class="form-control"
        formControlName="procurementNatureId"
        id="procurementNatureId"
      >
        <option
          *ngFor="let procurementNature of procurementNatures"
          [value]="procurementNature.id"
        >
          {{ procurementNature.name }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="procurementMethodId">Select Procurement Method</label>
      <select
        class="form-control"
        formControlName="procurementMethodId"
        id="procurementMethodId"
      >
        <option
          *ngFor="let procurementMethod of procurementMethods"
          [value]="procurementMethod.id"
        >
          {{ procurementMethod.wiseName }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <mat-form-field appearance="fill">
        <mat-label>Select Payment Types</mat-label>
        <mat-select [formControl]="toppings" multiple>
          <mat-option *ngFor="let pay of paymentTypes" [value]="pay.id">{{
            pay.type
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
