<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="authService.isLoggedIn$ | async">
  <a class="navbar-brand" routerLink="/">Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>

      <li class="nav-item active">
        <a routerLink="/country" class="nav-link">Country</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/financial-year" class="nav-link">Financial Year</a>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0">
      <button (click)="logout()" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
    </div>

  </div>
</nav>
