<div class="container procurement-method">
  <div class="row">
    <div class="col-md-12">
      <h4>
        <!-- <a
          class="btn btn-primary btn-sm"
          routerLink="/procurement-method/create"
        >
          <i class="fa fa-plus"></i> Add</a
        > -->
        <app-procurement-method-create></app-procurement-method-create>
      </h4>
      <br />
      <table class="table table-bordered table-striped">
        <thead class="thead-procurement-method">
          <tr>
            <th scope="col" class="th-procurement-method">#</th>
            <th scope="col" class="th-procurement-method">WiseName</th>
            <th scope="col" class="th-procurement-method">
              Procurement Nature
            </th>
            <th scope="col" colspan="2" class="th-procurement-method">
              Settings
            </th>
          </tr>
        </thead>
        <tbody *ngIf="isLoading">
          <tr>
            <th colspan="5">
              <div
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: transparent;
                  padding-top: 10%;
                  padding-bottom: 10%;
                "
              >
                <mat-progress-spinner
                  color="primary"
                  mode="indeterminate"
                  [diameter]="30"
                >
                </mat-progress-spinner>
              </div>
            </th>
          </tr>
        </tbody>
        <tbody *ngIf="!isLoading">
          <tr
            *ngFor="let procurementMethod of procurementMethods; let i = index"
          >
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ procurementMethod.wiseName }}</td>
            <td>{{ procurementMethod.procurementNature }}</td>
            <td>
              <a
                class="btn btn-outline-info btn-sm"
                [routerLink]="[
                  '/procurement-method/update/',
                  procurementMethod.id
                ]"
                ><i class="fa fa-edit"></i
              ></a>
            </td>
            <td>
              <a
                class="btn btn-outline-danger btn-sm"
                (click)="delete(procurementMethod.id)"
                ><i class="fa fa-trash"></i
              ></a>
            </td>
          </tr>
        </tbody>
        <thead class="thead-bottom-procurement-method">
          <tr class="tr-procurement-method">
            <th scope="col" class="th-bottom-procurement-method"></th>
            <th scope="col" class="th-bottom-procurement-method"></th>
            <th scope="col" class="th-bottom-procurement-method"></th>
            <th
              scope="col"
              colspan="2"
              class="th-bottom-procurement-method"
            ></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
