<div class="container egp-country">
  <div class="row">
    <div class="col-md-12">
      <h4>
        <a class="btn btn-primary btn-sm" routerLink="/egp-country/create">
          <i class="fa fa-plus"></i> Add</a
        >
      </h4>
      <br />
      <table class="table table-bordered table-striped">
        <thead class="thead-egp-country">
          <tr>
            <th scope="col" class="th-egp-country">#</th>
            <th scope="col" class="th-egp-country">Country</th>
            <th scope="col" class="th-egp-country">isDefault</th>
            <th scope="col" colspan="2" class="th-egp-country">Settings</th>
          </tr>
        </thead>
        <tbody *ngIf="isLoading">
          <tr>
            <th colspan="5">
              <div
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background:  transparent;
                  padding-top: 10%;
                  padding-bottom: 10%;
                "
              >
                <mat-progress-spinner
                  color="primary"
                  mode="indeterminate"
                  [diameter]="30"
                >
                </mat-progress-spinner>
              </div>
            </th>
          </tr>
        </tbody>
        <tbody *ngIf="!isLoading">
          <tr *ngFor="let egp of egpCountries; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ egp.countryName }}</td>
            <td>{{ egp.default }}</td>
            <td>
              <a
                class="btn btn-outline-info btn-sm"
                [routerLink]="['/egp-country/update/', egp.id]"
                ><i class="fa fa-edit"></i
              ></a>
            </td>
            <td>
              <a class="btn btn-outline-danger btn-sm" (click)="delete(egp.id)"
                ><i class="fa fa-trash"></i
              ></a>
            </td>
          </tr>
        </tbody>
        <thead class="thead-bottom-egp-country">
          <tr class="tr-egp-country">
            <th scope="col" class="th-bottom-egp-country"></th>
            <th scope="col" class="th-bottom-egp-country"></th>
            <th scope="col" class="th-bottom-egp-country"></th>
            <th scope="col" colspan="2" class="th-bottom-egp-country"></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
