<div class="container financial">
  <div class="row">
    <div class="col-md-12">
      <h4>
        <a class="btn btn-primary btn-sm" routerLink="/financial-year/create">
          <i class="fa fa-plus"></i> Add</a
        >
      </h4>
      <br />
      <table class="table table-bordered table-striped">
        <thead class="thead-financial">
          <tr>
            <th scope="col" class="th-financial">#</th>
            <th scope="col" class="th-financial">Name</th>
            <th scope="col" class="th-financial">Is Default</th>
            <th scope="col" colspan="2" class="th-financial">Settings</th>
          </tr>
        </thead>
        <tbody *ngIf="isLoading">
          <tr>
            <th colspan="5">
              <div
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: transparent;
                  padding-top: 10%;
                  padding-bottom: 10%;
                "
              >
                <mat-progress-spinner
                  color="primary"
                  mode="indeterminate"
                  [diameter]="30"
                >
                </mat-progress-spinner>
              </div>
            </th>
          </tr>
        </tbody>
        <tbody *ngIf="!isLoading">
          <tr *ngFor="let financial of financialYears; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ financial.year }}</td>
            <td>{{ financial.default }}</td>
            <td>
              <a
                class="btn btn-outline-info btn-sm"
                [routerLink]="['/financial-year/update/', financial.id]"
                ><i class="fa fa-edit"></i
              ></a>
            </td>
            <td>
              <a
                class="btn btn-outline-danger btn-sm"
                (click)="delete(financial.id)"
                ><i class="fa fa-trash"></i
              ></a>
            </td>
          </tr>
        </tbody>
        <thead class="thead-bottom-financial">
          <tr class="tr-financial">
            <th scope="col" class="th-bottom-financial"></th>
            <th scope="col" class="th-bottom-financial"></th>
            <th scope="col" class="th-bottom-financial"></th>
            <th scope="col" colspan="2" class="th-bottom-financial"></th>
          </tr>
        </thead>
      </table>

      <p-table [columns]="cols" [value]="financialYears">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
  </div>
</div>
